<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="embedsocial" sortOrder="999" translate="label">
            <label>EmbedSocial</label>
        </tab>
        <section id="embedsocial" showInDefault="0" showInStore="1" showInWebsite="0" sortOrder="100" translate="label">
            <label>Reviews</label>
            <tab>embedsocial</tab>
            <resource>EmbedSocial_Reviews::config_embedsocial_reviews</resource>
            <group id="options" showInDefault="0" showInStore="1" showInWebsite="0" sortOrder="10" translate="label">
                <label>Configuration</label>
                <comment>                                                
                    <![CDATA[
                    <p style="font-size: 16px" >Please enter in your <strong>API key</strong> to finish the installation</p>
                    <p style="font-size: 16px" >Check out our <a href="https://embedsocial.com" target="_blank">knowledge base</a> for more information.</p>
                    ]]>
                </comment> 
                <field id="apikey" showInDefault="0" showInStore="1" showInWebsite="0" sortOrder="10" translate="label" type="text">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <comment>                                                
                        <![CDATA[
                        <p style="font-size: 16px" >Create a Magento source in EmbedSocial and get your  <strong>API key</strong></p>
                        ]]>
                    </comment> 
                </field>
                <field id="order_status" showInDefault="0" showInStore="1" showInWebsite="0" sortOrder="10" translate="label" type="multiselect">
                    <label>Request reviews after purchase</label>
                    <comment>
                        <![CDATA[
                        <p style="font-size: 16px">Your customers will receive Review requests when your order reaches this status. Hold CTRL to select multiple statuses</p>
                        ]]>
                    </comment>
                    <source_model>Magento\Sales\Model\ResourceModel\Order\Status\Collection</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
